doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ANZOOM
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="css/index.css")       
    body 
        header 
            h1 ANZOOM       
            h2.roomName    
        main          
            div#welcome
                form
                    input(type="text", required, placeholder="방 이름을 입력해주세요")
                    button 참여하기    
            div#call            
                div#other_stream
                    h2 상대방
                    // '나' 화면 영역과 높이 맞추기 용도
                    select(style="visibility: hidden; margin-bottom:0.5rem") 
                    video#other_cam(autoplay, playsinline, width="500", height="400") 
                    div#other_control
                        button.mute 마이크 on
                        button.camera 카메라 on
                div#my_stream                
                    h2 나
                    select#camera_select 
                    // playsinline => 모바일 환경에서 필요한 속성(자동 전체화면 방지) 
                    video#my_cam(autoplay, playsinline, width="500", height="400") 
                    div#my_control
                        button.mute 마이크 on
                        button.camera 카메라 on
        script(src="/socket.io/socket.io.js")
        script(src="js/index.js")