* {
  margin: 0;
  padding: 0;
  list-style: none;
}

div#welcome > form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

h2.roomName {
  color: cornflowerblue;
}

div#call {
  display: none;
}

div#call > p {
  text-align: center;
}

button.exit_button {
  background-color: orangered;
  border-color: orangered;
}

div#call > div {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

select#camera_select {
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

video {
  display: block;
  object-fit: cover;
  background-color: black;
}

div#my_control,
div#other_control {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
