* {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

ul#service_info span {
  margin-left: 4px;
}

div#welcome > form.nickname_form {
  margin-bottom: 1rem;
}

div#room {
  display: none;
  text-align: center;
}

div#room > h2.room_name {
  text-align: center;
}

div#room > p > span.room_user_count {
  margin-left: 4px;
}

div#room > ul.chat_list {
  display: inline-block;
  height: 10rem;
  width: 75%;
  overflow-y: scroll;
  margin: 0.5rem 0;
}

div#room > ul.chat_list > li {
  text-align: left;
}

div#room > form.message_form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div#room > form.message_form > div > button.exit_button {
  background-color: orangered;
  border-color: orangered;
}
