form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

div#room {
  display: none;
}

div#room > h2 {
  text-align: center;
}

div#room > ul.chat {
  height: 10rem;
  overflow-x: scroll;
}
